<!doctype html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <nav>
            <h4>Navigation Bar</h4>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/logs/login">LOGIN</a></li>
                <li><a href="/logs/register">REGISTER</a></li>
            </ul>
        </nav>
        <div id="main_cont">